<form style="text-align: center" action="/reviews/new" method="post">
         <fieldset>
            <label for="review">Feed:</label>
            <textarea id="review" name="review" placeholder="What's on your mind?"></textarea>
            <br />
            <div id="spacer" class="row col-md-12"></div>
            <input type="submit" value="Submit New Review" />
         </fieldset>
</form>
      